.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.derose-logo {
  width: 30vw;
}

.main-title {
  margin-top: -1rem;
}

.main-button {
  margin-top: 1rem;
}

.asana-group-subtitle{
  color: #4a4a4a !important;
  text-align: center;
}

.asana-title{
  color: #4a4a4a !important;
  text-align: center;
}

.asana-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

div.asana-box {
  width: 88vw;
  height: 35vh;
  max-width: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s linear all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  position: relative;
  align-content: stretch;
  align-items: stretch;
}

div.asana-box.open {
  transform: rotateY(-180deg);
}

div.asana-box-front {
  position: relative;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 400px;
}

div.asana-box-back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  width: calc(100% - 1.25rem * 2);
  height: calc(100% - 1.25rem * 2);
}

.media.media-asana-box {
  flex-grow: 1;
  align-items: center;
}

figure.image.asana-image {
  height: 235px;
  width: 250px;
  margin: 0 auto;
}

.box-footer {
  display: flex;
  justify-content: space-between;
}

.asana-icon {
  font-size: 25px;
  cursor: pointer;
}

@media(max-width: 700px) {
  .derose-logo {
    width: 50vw;
  }

  .main-container .main-title {
    font-size: 2.5rem !important;
    text-align: center;
  }

  .asana-title {
    font-size: 2.5rem !important;
  }

  .asana-box {
    min-width: 80vw;
    min-height: 30vh;
  }
}